<div class="bg-main d-flex column w-100 h-100vh">
  <header class="d-flex space-between py-05 header to-center">
    <div class="name to-center">Logo</div>
    <div class="setting w-100">
      <span class="material-icons cursor" (click)="openNavbar()">
        view_sidebar
      </span>
    </div>
    <div class="info to-center">Logout</div>
  </header>
  <div class="main d-flex">
    <div class="menu bg-main" [ngClass]="{ 'close-menu': !navOpen }">
      <div class="one-item d-flex cursor" *ngFor="let item of menuItem">
        <div class="icon">
          <span class="material-icons">
            {{ item.icon }}
          </span>
        </div>
        <div class="item">
          {{ item.name }}
        </div>
      </div>
    </div>
    <div class="content w-100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
